.ipynb_checkpoints/Sandbox-checkpoint.ipynb
.google*
__pycache__*
.vscode/settings.json
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore
Data/MASTER_ALL_NEW.pkl
Data/MASTER_PID_NEW.pkl
MASTER_PID_tmp.pkl
MASTER_ALL_tmp.pkl
test_df.pkl
covid19_frontend.code-workspace
