@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap');
$TITLEFONT: "Baloo 2", cursive;
$FONT: "Montserrat", sans-serif;

 $COLORS:(
    primary: #2D3142,
    secondary:  #4F5D75,
    tertiary: #4A6572,
    text: #BFC0C0,
    accent: #EF8354
);

@function color($color-name){
    @return map-get($COLORS, $color-name)
}

@function longshadow($color_a,$color_b,$stepnum, $opacity: 1){
	$gradient_steps: null;
	@for $i from 1 through $stepnum {
		$weight: ( ( $i - 1 ) / $stepnum ) * 100;
		$colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
		$seperator: null;
		@if($i != $stepnum){ 
			$seperator: #{','}; 
		}
		$gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );
 }
  @return $gradient_steps;
}

@mixin easeOut {
  transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
    background-color: color(secondary);
    margin: 0;
    color: color(text );
    font-size: 16px;
    font-family: $FONT;
}

*{
    box-sizing: border-box;
    
}

#header{
    margin: 5px;
    padding: 5px 10px 10px 10px;
    background-color: color( primary);
    border-radius: 15px;
    #description {
        text-align: center;
        h1 {
            font-family: $TITLEFONT;
            font-size: 150%;
            margin-bottom: 2px;
            color:color(accent);
            span{
                display:inline;
            }
        }
        h2{
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 16px;
            a{
              color: color(text);
              font-family: $TITLEFONT;
              text-underline-offset: 2px;
            }
        }
        .button {
            height: 35px;
            display: inline-flex;
            width: 110px;
            border: 2px solid color(text);
            margin: 10px 20px 20px 20px;
            border-radius: 4px;
            color: color(text);
            background-color: color(primary);
            text-transform: uppercase;
            letter-spacing: 1.5px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
          }

    }

    #counters-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
        .card{
            width: 150px;
            height: 130px;
            box-shadow: 0 10px 8px 0 black;
            transition: 0.3s;
            border: 3px solid color(primary);
            align-items: center;
            margin: 5px;
            margin-top: 5px;
            text-align: center;
            color: black;
            border-radius: 2px;
            perspective: 1000;
            color: white;
            h3{
                margin-top: 4px;
                border-bottom:1px solid rgba(0,0,0,.125);
            }
            p{
                padding-top: 10px;
                font-size: 120%;
            }
           
            
        }
       #cases-card{
            background-color: #ffc107;
      }
      #deaths-card{
        background-color:#dc3545;
      }
      #mortality-card{
        background-color:#f8f9fa;
        color:black;
      }
      #growth-card{
        background-color:#28a745;
      }

    }      
}




