@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap");
body {
  background-color: #4F5D75;
  margin: 0;
  color: #BFC0C0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 5px;
  padding: 5px 10px 10px 10px;
  background-color: #2D3142;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

#header #description {
  text-align: center;
}

#header #description h1 {
  font-family: "Baloo 2", cursive;
  font-size: 150%;
  margin-bottom: 2px;
  color: #EF8354;
}

#header #description h1 span {
  display: inline;
}

#header #description h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

#header #description h2 a {
  color: #BFC0C0;
  font-family: "Baloo 2", cursive;
  text-underline-offset: 2px;
}

#header #description .button {
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 110px;
  border: 2px solid #BFC0C0;
  margin: 10px 20px 20px 20px;
  border-radius: 4px;
  color: #BFC0C0;
  background-color: #2D3142;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#header #counters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

#header #counters-container .card {
  width: 150px;
  height: 130px;
  -webkit-box-shadow: 0 10px 8px 0 black;
          box-shadow: 0 10px 8px 0 black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid #2D3142;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  margin-top: 5px;
  text-align: center;
  color: black;
  border-radius: 2px;
  -webkit-perspective: 1000;
          perspective: 1000;
  color: white;
}

#header #counters-container .card h3 {
  margin-top: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#header #counters-container .card p {
  padding-top: 10px;
  font-size: 120%;
}

#header #counters-container #cases-card {
  background-color: #ffc107;
}

#header #counters-container #deaths-card {
  background-color: #dc3545;
}

#header #counters-container #mortality-card {
  background-color: #f8f9fa;
  color: black;
}

#header #counters-container #growth-card {
  background-color: #28a745;
}

#app-container #slider-container {
  text-align: center;
}

#app-container #slider-container h4 {
  margin: 0;
  margin-bottom: 5px;
  color: #EF8354;
  font-family: "Baloo 2", cursive;
}

#app-container #slider-container #date_slider {
  padding-left: 5px;
  padding-right: 5px;
}

#app-container #slider-container .rc-slider-mark-text {
  display: none;
}

#app-container #slider-container .rc-slider-track {
  background-color: #EF8354 !important;
  z-index: 1 !important;
}

#app-container #slider-container .rc-slider-dot {
  border: 2px solid white;
  z-index: 2 !important;
}

#app-container #slider-container .rc-slider-step {
  background-color: #4F5D75;
}

#app-container #slider-container .rc-slider-rail {
  background-color: #4F5D75;
}

#app-container #slider-container .rc-slider-handle {
  border-color: #EF8354;
  z-index: 3 !important;
}

#app-container #slider-container .rc-slider-dot-active {
  border: 3px solid #EF8354 !important;
}

#app-container #map-container #map-dials {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 3px;
      grid-template-areas: "metrics" "location" "title";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#app-container #map-container #map-dials #check-metrics {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: metrics;
  font-size: 80%;
}

#app-container #map-container #map-dials #check-locations {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: location;
  font-size: 80%;
}

#app-container #map-container #map-dials #map-title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: title;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Baloo 2", cursive;
  color: #EF8354;
}

#app-container #right-container {
  padding: 10px;
  text-align: center;
}

#app-container #right-container h4 {
  margin: 0;
  margin-bottom: 2px;
}

#app-container #right-container #location-dropdown {
  margin-bottom: 20px;
}

#app-container #right-container .Select-control {
  background-color: #BFC0C0;
}

#app-container #right-container .Select-value {
  color: #EF8354;
  background-color: #4F5D75;
  border-color: #2D3142;
}

#app-container #right-container #tabs-container {
  margin-bottom: 20px;
}

#app-container #right-container .tab--selected {
  border-color: #EF8354;
  border-top-width: 4px;
  font: "Baloo 2", cursive;
  font-weight: bolder;
}

#app-container #right-container .tab-custom-tab {
  background-color: #BFC0C0;
}
/*# sourceMappingURL=style.css.map */